<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391943173394-av7tf3urg1r1353iih3fiuil8mmhudv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391943173394-av7tf3urg1r1353iih3fiuil8mmhudv7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391943173394-5tg9tss4nv45uql5sakfcslp3adjpn2c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD603o0OLS7G9Ewl0idIG5itzgPyB7yXBc</string>
	<key>GCM_SENDER_ID</key>
	<string>391943173394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vepportal.app</string>
	<key>PROJECT_ID</key>
	<string>intelli-chat-rxghxn</string>
	<key>STORAGE_BUCKET</key>
	<string>intelli-chat-rxghxn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391943173394:ios:1e3c468125d0546f55afcb</string>
	<key>DATABASE_URL</key>
	<string>https://intelli-chat-rxghxn-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>